/**  ################## TAGS ################## **/
body {
    background-color: white;
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}

hr {

    border-style: none;
    border-top-style: dotted;
    border-color: #3797a4;
    border-width: 0.46rem;
    width: 7%;
}

h1 {
    margin: auto auto 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;

}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}
a {
    color: #40514E;
}

/**  ################## Class ################## **/
/**  ################## Top Container ################## **/
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 0.5375rem;
}
.mountain-img {
    width: 50%;
    margin: auto;
    display: block;
    padding-top: 0.125rem;

}
.top-cloud {
    position: absolute;
    height: auto;
    width: 10%;
    left: 1rem;
    top: 8.88rem;

}
.bottom-cloud {
    position: absolute;
    height: auto;
    top: 18.75rem;
    right: 1rem;
    width: 10%;
}
/**  ################## Middle Container ################## **/
.middle-container {
    position: relative;
}

.pro {
    text-decoration: underline;
    margin-left: 0.675rem;
}
.codeman {
    float: left;
    width: 20%;
    margin-bottom: 3.062rem;
    margin-right: 3.875rem;
}
.skills {
    height: 43.75rem;
    padding-bottom: 2.25rem;
}
.codding-cat {
    float: right;
    width: 20%;
    margin-bottom: 3.062rem;
    margin-left: 3.875rem;

}
.stsentence {
    width: 50%;
    margin: 6.25rem auto;
    text-align: left;
    line-height: 1.6rem;
    text-align: center;
}
.whatami {
    width: 50%;
    margin: 6.25rem auto;
    text-align: left;
    line-height: 1.6rem;
}
.skill-row {
    width: 50%;
    margin: 6.25rem auto;
    text-align: left;
    line-height: 1.6rem;
    margin-bottom: 15.63rem;

}
/**  ################## Bottom Container ################## **/
.audio {
    height: 0;
    width: 0;
}
.bottom-container {
    position: relative;
    background-color: #EAF6F6;
    padding-top: 1.875rem;
    padding-bottom: 0.9375rem;
}

.BUTTON_PUD {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 0.9375rem;
    font-weight: 100;
    padding: 10px;
    box-shadow: 1px 1px 10px 0 #000000;
    -webkit-box-shadow: 1px 1px 10px 0 #000000;
    -moz-box-shadow: 1px 1px 10px 0 #000000;
    text-shadow: 1px 1px 10px #000000;
    border: solid #66BFBF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.BUTTON_PUD:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.contact-me {
    width: 50%;
    margin: 6.25rem auto;
    line-height: 1.6rem;
    text-align: center;
}

/**  ################## Ids ################## **/
#higorblands {
    border-radius: 50%;
}
#programmer {
    font-weight: normal;
    line-height: 1.6rem;
}
#hr {
    margin-top: 8.438rem;
}
#hr2{
    position: relative;
}
#p {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
